body {
  background-color: #5edcfb;
  text-align: center;
}
.search {
  margin: 2px auto;
  width: 300px;
  border-radius: ghostwhite;
}
.temperature {
  margin-top: 10px;
  text-align: center;
  font-size: xxx-large;
}
.headerApp {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
  width: 100%;
  margin: 6.02rem auto;
}
hr {
  width: 30px;
}
img {
  margin: auto;
  display: block;
}
.description {
  text-align: center;
  font-size: x-large;
}
